<!DOCTYPE html>
<html>
  <head>
    <title>Project roulette</title>
    <link rel='preload' href='/stylesheets/style.css' as='style' onload='this.rel = "stylesheet"' />
    <noscript>
      <link rel='stylesheet' href='/stylesheets/style.css' />
    </noscript>
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
